#header {
  height: 50px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: right;*/
  margin-top: -200px;
  margin-right: -1100px;

  #header-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
    background-color: red;
    border-radius: 50%;
    /*width: 50px;*/
  }

  #profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-right: 75px;
  }
}